DirectoryIndex index.html
Options -Indexes

<IfModule mod_mime.c>
  AddType image/svg+xml svg svgz
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|html)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>
